.tagger ul {
  display: block;
  clear: both;
  margin: 5px 0 0 0;
  padding: 0;
  list-style: none;
}

.tagger li {
  display: block;
  float: left;
  margin: 0 5px 5px 0;
  padding: 2px 5px;
  border: 1px solid #808080;
  background: #dadada;
  font-size: 11px;
  cursor: pointer;
}

.tagger li:hover {
  border-color: #000;
}

.tagger li.selected {
  background-color: #f00;
}

.tagger .toggle,
.tagger .toggle-selected {
  float: left;
  margin: 0 0.5em 0.5em 0;
  cursor: pointer;
}
